* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: Arial, Helvatica, times, sans-serif;
}
html {
  height: 100%;
  background: url("/images/back1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header {
  padding: 10px;
  height: 40px;
  /* text-align: right; */
  background: rgba(0, 0, 0, 0.2);
}

.groupc {
  text-align: center;
  width: 10%;
  float: left;
  height: 100%;
}

.nav {
  float: left;
  text-align: right;
  width: 90%;
}
.txt {
  padding-top: 15px;
  /* margin: 2px; */
}

.nav a {
  margin: 5px;
  padding: 5px;
}
.nav a:hover {
  text-decoration: underline;
  color: red;
}
.active {
  color: green;
  display: inline-block;
  position: relative;
}
.active:after {
  content: "";
  height: 2px;
  width: 50%;
  background: #f24432;
  position: absolute;
  left: calc(50% - 40%);
  top: 22px;
}

.home {
  color: red;
  line-style: ;
}

.side {
  float: left;
  width: 20%;
  height: 500px;
  /* background-color: white; */
}

.center {
  float: right;
  width: 80%;
  height: 500px;
  /* background-color: blue; */
}

/* hr {
  padding: 10px;
  color: black;
} */

.vertical {
  border-left: 1px solid white;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  height: 100px;
  position: relative;
  left: 50%;
  margin-top: 25px;
}

.vert-2 {
  margin-top: 80px;
}
.icon {
  height: 100px;
  /* padding: 0 40px 0 40px;
  margin: 20px 0 20px 0; */
  text-align: center;
}

.icon li {
  margin: 10px 0 10px 0;
}

.profile {
  text-align: center;
  margin: 10px;
}
.box {
  margin-top: 100px;
  /* background-color: red; */
}
.text-head {
  /* padding-left: 100px; */
  margin: 10px;
  font-size: 25px;
  text-align: center;
}
span {
  color: red;
}
.span {
  color: white;
}
.text-p {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
.section {
  /* background-color: blue; */
  width: 100%;
  height: 500px;
}

.section-2 {
  background-color: #141f29;
  width: 100%;
  height: 1000px;
}
.img-about {
  width: 30%;
  float: left;
  background-color: red;
}
img {
  /* width: 100%; */
}
.img-side-1 {
  width: 30%;
  background-color: blue;
  float: left;
}
/* .img-side-1 img {
  width: 100%;
} */
.img-side-2 {
  width: 30%;
  /* background-color: yellow; */
  float: left;
}

.image-top {
  position: absolute;
  right: 550px;
  top: 800px;
  height: 300px;
}

.image-right {
  float: right;
  padding-right: 150px;
}
.image-left {
  padding-left: 150px;
}
/* .bgimage {
  margin: 0 100px 0 100px;

  width: 80%;
  height: 350px;
} */
.bg-section2 {
  background-image: url("../images/Rectangle_7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 220px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  /* text-align: center; */
}

.btn {
  padding: 8px;
  margin-left: 50px;
  border: 0;
  background-color: #f01a44;
}
/* .child h3 {
  text-height: 20px;
} */
.h3-p {
  margin-left: 20px;
}
.about {
  padding-left: 150px;
  padding-top: 80px;
}
.section-3 {
  /* background-color: yellow; */
  background-color: #141f29;
  width: 100%;
  height: 1550px;
}

/* section 3 start */

.top {
  padding: 40px;
  width: 100%;
  height: 1030px;
  /* background-color: blue; */
}
/* .boy{

} */
.left-side {
  width: 24%;
  height: 100%;
  float: left;
  padding: 2px;
  /* background-color: white; */
}
.right-side {
  /* background-color: white; */

  height: 89%;
  float: left;
}

.right-top img,
.wedding img,
.woman img {
  width: 100%;
  height: 100%;
}
/* .food {
  width: 100%;
  height: 400px;
}
.food img {
} */
.wedding {
  width: 50%;
  height: 100%;
  float: left;
}

.woman {
  width: 50%;
  height: 100%;
  float: left;
}

.portfolio {
  text-align: right;
  color: red;
}
.all {
  width: 100%;
  /* height: 100%; */
  /* background-color: white; */
}
.right-top {
  width: 100%;
  height: 600px;
  background-color: red;
}

.right-buttom {
  width: 100%;
  height: 440px;
  /* background-color: yellow; */
}

.buttom-outside {
  width: 100%;
  height: 330px;
  /* background-color: red; */
  padding: 0 40px 0 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.car {
  width: 50%;
  padding-right: 5px;
  float: left;
  /* background-color: white; */
}
.car img {
  width: 100%;
  height: 330px;
}
.gate {
  width: 49%;
  float: left;
}
.gate img {
  width: 92%;
  height: 330px;
}
.see {
  text-align: right;
  margin: 40px 25px 10px 0;
}
.see .btn {
  padding: 10px 40px 10px 40px;
}
/* section 3 end */

/* section 4 start */
.section-4 {
  background-color: black;
  width: 100%;
  height: 400px;
}

.testiminial {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.testiminial-box {
  background-color: #141f29;
  padding: 50px;
}
/* .text-footer {
  width: 70%;
  height: 200px;
  padding-top: 50px;
} */
.text-footer img {
  float: right;
}
footer {
  /* background-color: red; */
  height: 100px;
}

.footer {
  height: 300px;
}
.footer-icon {
  height: 200px;
  background-color: black;
}
.social-media {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.span {
  width: 10%;
  float: left;
  text-align: center;
}
.text-footer {
  /* width: 70%; */
  float: left;
  /* background-color: black; */
}

.footer-image {
  padding: 50px;
  /* float: left; */
  width: 200px;
  height: 90%;
}
.phone {
  color: white;
}
.social {
  color: white;
  padding-right: 10px;
}
.social-phone {
  width: 44.5%;
  float: left;
}
.social-text {
  width: 55.5%;
  float: left;
}
.social-box {
  /* background-color: red; */
  margin-left: 110px;
}
.icon {
  /* background-color: red; */
  height: 50px;
  /* display: flex; */
}
.email-footer {
  background-color: black;
  width: 33%;
  float: left;
}

.icon-text {
  /* background-color: blue; */
  width: 33%;
  float: left;
}
.icon-text ul li {
  display: inline;
  margin: 10px;
}
.email-input {
  background-color: black;
  width: 33%;
  float: left;
}
.email-input .email {
  padding: 9px;
  width: 200px;
  border: 0;
}
.email-input .btn-1 {
  border: 0;
  background-color: #f01a44;
  padding: 9px;
  width: 80px;
}
.copywrite {
  /* height: 30%; */
  /* background-color: black; */
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* section 4 end */
